.containents {
    margin-top: 30px;


}

.infor {
    margin: 10px 50px;

    .avatar {
        background: center center no-repeat;
        height: 40vh;
        margin: 10px;

    }

    .name {
        font-size: 24px;
        font-weight: 700;

    }

    .address {
        margin: 5px 20px;

    }
}