.MedicalFacilitye {
    width: 100%;
    margin-top: 50px;
}

.section-specialtyee {

    padding: 2px;
    margin-bottom: 5px;
    //  width: 85%;
    background-color: white;
    margin-left: 15vh;

    .font-content {
        .h1 {
            font-size: 15px;
            margin: 2px;
        }
    }



    .img-one {
        display: flex !important;
    }


    .img-wapper {
        margin: 4vh 0vh 0 0vh;


        .img-1-1 {
            width: 75%;
        }

        .font-1-1 {
            margin-top: 10px;
            font-size: 16px;
            margin-left: 8%;


        }



    }







}